
/* css | https://seismicatest.library.mcgill.ca/$$$call$$$/page/page/css?name=bootstrapTheme-readable */
/* seismica colors | #123466 [dark blue] #ffffff [white] #000000 [black] #65C18C [sea green] #cecd24 [citrine] #df2935 [red] */




/* restyle hyperlink color */
a {
  color: #65C18C;
}

a:hover {
  color: #123467;
}


/* Begin header */

/* Adjust logo container to fit well on small and large devices */
div.pkp_site_name {
  top: -5px;
}

div.pkp_site_name a {
  height: 100%;
  width: 100%;
}

div.pkp_site_name .is_img img {
  max-height: 40px;
}

@media (min-width: 992px) {
  div.pkp_site_name {
    top: -10px;
    height: 80px;
  }

  div.pkp_site_name .is_img img {
    max-height: 80px;
  }
}

/* End header */


/* Begin main menu */

/* Increase main item font size a tad */
ul#navigationPrimary > li > a {
  font-size: 1.2em;
}

/* Fix that annoying offset */
@media (min-width: 992px) {
  .pkp_navigation_primary > li:hover ul {
    left: 0px;
  }
}

/* Recolour submenu items */
ul.dropdown-menu li a {
  color: #000;
  font-size: 1.0em;
}

/* Adjust hover background */
ul.dropdown-menu li a:hover {
  /* color: #65C18C; */
  color: #000;
  background: #fff;
}

/* End main menu */

/* Begin user menu */
/* End user menu */


/* Begin side menu */

div.pkp_block.block_custom {
  font-size: 1.1em;
  border-top: 1px solid #ddd;
}

div.pkp_block.block_custom a {
  color: #123467;
}

div#customblock-InformationLinks div#InformationLinks-header {
  font-weight: bold;
}

div#customblock-InformationLinks p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

div#customblock-submitManuscript div.content {
  background-color: #df2935;
  color: #fff;
  font-weight: bold;
  padding: 0.5em;
  text-align: center;
}

div#customblock-submitManuscript div.content a {
  color: #fff;
  font-weight: bold;
}

/* End side menu */

/* Begin main content */

/* Hide breadcrumbs */
nav.cmp_breadcrumbs {
  display: none;
}

/* Format notifications */
div.cmp_notification {
  background-color: #eee;
  border-color: #123466;
}

/* End main content */

/* Start (current) issue formating */

/* Make titles dark blue and underline for clarity */
.obj_article_summary>.title a, a.title {
  color: #123466;
  text-decoration: underline;
}

/* Recolour PDF/XML buttons */
.cmp_button_wire, .obj_galley_link {
  border-color: #65C18C;
  color: #65C18C;
}

/* Hover PDF/XML buttons */
.cmp_button_wire:hover, .obj_galley_link:hover {
  background-color: #65C18C;
  color: #fff;
}

/* Read more > and supplementary materials */
.read_more, .obj_galley_link_supplementary {
  color: #123466 !important;
}

/* Begin collapsible divs */

div.accordion div.card h2 {
  margin: 0;
  margin-top: 1em;
}

div.accordion div.card div.card-header button {
  width: 100%;
  background-color: #fff;
  padding: 0.5em;
  border: 0;
  font-weight: bold;
  border: 1px solid #65C18C;
  border-right: 0;
  border-bottom: 0;
}

div.accordion div.card div.card-header.active button, div.accordion div.card div.card-header button:hover {
  /* background-color: #65C18C; */
  background-color: #eee;
}

div.accordion div.card div.collapse {
  border-bottom: 1px solid #65C18C;
  border-left: 1px solid #65C18C;
  display: none; /* MODIFY THIS */
}

div.accordion div.card div.card-body {
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 0.5em;
  padding-bottom: 2em;
}

div.accordion div.card div.card-body p {
  margin-top: 0;
}

/* End collapsible divs */


/* Begin footer */

div.pkp_structure_footer_wrapper {
  background: #123466;
}

div.pkp_structure_footer div.pkp_footer_content {
  color: #fff;
}

div.pkp_structure_footer div.pkp_footer_content img {
  width: 200px;
}

/* End footer */